<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Currency Rates</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
    <h1>Welcome to Currency Calculator</h1>
    <nav>
    <a th:href="@{/}">Back to Exchange Rates</a>
    </nav>
    <form method="POST" th:object="${conversionRequest}" th:action="@{/calculator}">
        <label>Select Currency</label>
        <select name="currency" th:field="*{code}">
            <option th:each="code: ${codes}" th:value="${code}" th:text="${code}"></option>
        </select>

        <label>Enter amount</label>
        <input type="number" name="amount" th:field="*{amount}" required min="1"/><br/>

        <input type="submit" value="Count"/>
    </form>
    <div th:if="${conversionResult} != null">
        <div>
            Sum:
            <span th:text="${#numbers.formatDecimal(conversionResult.count, 0, 5)}"></span>
        </div>
        <div>
            Rate:
            <span th:text="${#numbers.formatDecimal(conversionResult.rate, 0, 5)}"></span>
        </div>
    </div>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>