<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Currency Rates</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark p-0 shadow">
    <a class="navbar-brand col-md-2" th:href="@{/}">Back to Exchange Rates</a>
    </nav>
    <h2 class="d-flex justify-content-center m-3">Currency Calculator</h2>
    <div class="container">
        <form method="POST" th:object="${conversionRequest}" th:action="@{/calculator}">
            <label>Select Currency</label>
            <select class="form-control" th:field="*{code}">
                <option th:each="code: ${codes}" th:value="${code}" th:text="${code}"></option>
            </select>
            <label class="mt-3">Enter amount</label>
            <input class="form-control" type="number" th:field="*{amount}" required min="1"/><br/>
            <input class="btn btn-success mb-4" type="submit" value="Count"/>
        </form>
        <ul class="list-group mb-3" th:if="${conversionResult} != null">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    Total:
                </div>
                <span th:text="${#numbers.formatDecimal(conversionResult.count, 1, 5)}"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    Conversion Rate:
                </div>
                <span th:text="${#numbers.formatDecimal(conversionResult.rate, 1, 5)}"></span>
            </li>
        </ul>
    </div>
</body>
</html>