<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Currency Rates</title>
</head>
<body>
    <h1>Welcome to Currency Calculator</h1>
    <nav>
    <a th:href="@{/}">Back to Exchange Rates</a>
    </nav>
    <form method="POST" th:object="${conversionRequest}" th:action="@{/calculator}">
        <label>Select Currency</label>
        <select name="currency" th:field="*{code}">
            <option th:each="code: ${codes}" th:value="${code}" th:text="${code}"></option>
        </select>

        <label>Enter amount</label>
        <input type="number" name="amount" th:field="*{amount}" required min="1"/><br/>

        <input type="submit" value="Count"/>
    </form>
    <div th:if="${conversionResult} != null">
        <div>
            Sum:
            <span th:text="${conversionResult.count}"></span>
        </div>
        <div>
            Rate:
            <span th:text="${conversionResult.rate}"></span>
        </div>
    </div>
</body>
</html>