<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Curerncy Rates</title>
</head>
<body>
    <h1>Welcome to Currency Counter</h1>
    <form method="POST" th:object="${resultRequest}" th:action="@{/counter}">
        <label>Select Currency</label>
        <select name="currency" th:field="*{code}">
            <option th:each="code: ${codes}" th:value="${code}" th:text="${code}"></option>
        </select>

        <label>Enter amount</label>
        <input type="number" name="amount" th:field="*{amount}" required min="1"/><br/>

        <input type="submit" value="Count"/>
    </form>
    <div th:if="${result} != null">
        <span th:text="${result}"></span>
    </div>
</body>
</html>