<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Currency History</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
    <h1>Welcome to Currency History</h1>
    <nav>
    <a th:href="@{/}">Back to Exchange Rates</a>
    </nav>
    <table>
        <tr>
            <th>Country Code</th>
            <th>Currency Rate</th>
            <th>Date</th>
        </tr>
        <tr th:each="currency : ${history}">
            <td th:text="${currency.code}"></td>
            <td th:text="${#numbers.formatDecimal(currency.rate, 0, 5)}"></td>
            <td th:text="${currency.date}"></td>
        </tr>
    </table>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>