<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Currency History</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark p-0 shadow">
    <a class="navbar-brand col-md-2" th:href="@{/}">Back to Exchange Rates</a>
    </nav>
    <h2 class="d-flex justify-content-center m-3">Exchange Rate History for&nbsp;<span th:text="${code}"></span></h2>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Currency Rate</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tr th:each="currency : ${history}">
                    <td th:text="${#numbers.formatDecimal(currency.rate, 1, 5)}"></td>
                    <td th:text="${currency.date}"></td>
                </tr>
            </table>
        </div>
    </div>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>