<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Curerncy Rates</title>
</head>
<body>
    <h1>Welcome to Currency Rates</h1>
    <table>
        <tr>
            <th>Country Code</th>
            <th>Currency Rate</th>
            <th>Date</th>
        </tr>
        <tr th:each="currency : ${currencies}">
            <td>
                <a th:href="@{|/history/${currency.code}|}" th:text="${currency.code}"></a>
            </td>
            <td th:text="${currency.rate}"></td>
            <td th:text="${currency.date}"></td>
        </tr>
    </table>
</body>
</html>